<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<body>
  <div class="container">

      <form method="post" action="." class="form" id="createAccount">
        <h2 class="form_title">Create Account</h2>
        {% csrf_token %}
        <div class="form__input-group">
          <!--input type="text" class="form__input" name="username" autofocus placeholder="Username"-->
          {{form.username}}
        </div>
        <div class="form__input-group">
          <!--input type="text" class="form__input" name="username" autofocus placeholder="Username"-->
          {{form.email}}
        </div>
        <div class="form__input-group">
          <!--input type="password" class="form__input" name="password" autofocus placeholder="Password"-->
          {{form.password1}}
        </div>
        <div class="form__input-group">
          <!--input type="password" class="form__input" name="password" autofocus placeholder="Confirm Password"-->
          {{form.password2}}
        </div>
          <p class='form-errors'>
              {% for error in form.non_field_errors %}
                <a>{{ error }}</a>
              {% endfor %}

              {% for hidden in form.hidden_fields %}
                <a>{{ hidden }}</a>
              {% endfor %}

              {% for field in form %}
                <a>{{ field.errors.as_ul }}<a>
              {% endfor %}
          </p>
        <button class="form__button" type="submit">Create</button>
          <p class="form__text">
            <a class="form__link" id="linkResetPassword" href="{% url 'login' %}">Already have an account? Sign in</a>
          </p>
      </form>
  </div>

</body>

<style scoped>
body {
  --color-primary: #2e2e38;
  --color-primary-light: #696660;
  --color-secondary: #ffe600;
  --color-error:  #cc3333;
  --color-success:  #4bb544;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: var(--color-primary);
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
}

.form {
  font: 500 1rem 'EYInterstate', sans-serif;
}

.form__hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-buttom: 0;
}


.form_title {
  margin-bottom: 2rem;
  text-align: center;
}
.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color-primary-light);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover {
  color: var(--color-primary);
  background: var(--color-secondary);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
  margin-top: 20px;
}

.form__link {
  color: var(--color-primary-light);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

</style>

{% endblock %}